/* From Uiverse.io by akshat-patel28 */ 
.cards {
    width: 450px;
    height: 80px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #efefef;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    transition: opacity 2s ease;
    opacity: 1;
  }

  .fade-out {
        opacity: 0; /* Fade out state */
    }

    .fade-in {
        opacity: 1; /* Fade in state */
    }

  .message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
  }
  .message-text,
  .sub-text {
    margin: 0;
    cursor: default;
  }
  .message-text {
    font-size: 17px;
    font-weight: 700;
  }
  .sub-text {
    font-size: 14px;
    color: #555;
  }

  .icon-alert {
    color: white;
  }

  .circle-button {
    width: 35px; /* Set the width */
    height: 35px; /* Set the height */
    border: 2px solid #00897B; /* Border color */
    border-radius: 50%; /* Makes it a circle */
    background-color: transparent; /* Transparent background */
    color: #00897B; /* Text color */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
    outline: none; /* Remove default outline */
}

.circle-button:hover {
    background-color: #00897B; /* Change background on hover */
    color: white; /* Change text color on hover */
}

  